/* body aka main aka root  */
.react-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: green
}

.button-medium-blue {
    width: 200px;
    height: 100px;
    color: white;
    /* background-color: blue; */
}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: forestgreen;

}