/* body aka main aka root  */
.react-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: antiquewhite;
    height: 100vh
}

/* main background color scheme  */



.button {
    background-color: green
}

.button-medium-blue {
    width: 200px;
    height: 100px;
    color: white;
    /* background-color: blue; */
}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(28, 148, 28);
    font-size: 50px;
}